<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Lina Kichen</span>
        </div>
        <div class="card-content">
          <p>I am currently learning full stack web development through a coding boot camp provided by Georgia Institute of Technology. I have a Bachelor of Science in Ecology and Natural Resource Management and am currently employed at Floralis Lanndscape Architectue and Garden Design.<br><br> After many years working in the field, I have shifted my focus towards technology.I hope to gain a thorough understanding of web development so that I can pursue my own projects and continue to challenge myself.</p>
        </div>
        <div class="card-action">
          <a href="#">Contact Me</a>
        </div>
      </div>
    </div>
  </div>