body {
  margin: 0 auto;
  max-width: 85%;
  /* background-image: url(../public/images/bigSky.jpeg); */
}

nav {
  background-color: transparent;
}

.page-footer, .footer-copyright {
  background-color: transparent;
}

.brand-logo {
  padding-left: 10px;
}