body {
  margin: 0 auto;
  max-width: 85%;
}

.wrapper {
  min-height: 730px;
}

nav {
  background-color:rgb(0, 69, 84, 0.37) ;
  height: 100px;
  padding-top: 20px;
}


.footer {
  height: 50px;
  background-color: rgba(175, 99, 76, 0.37);
  padding-top: 25px;
}

.brand-logo {
  padding-left: 10px;
}