h2 {
  padding-left: 15px;
}

img {
  float: left;
}

.image {
  display: block;
  padding: 10px;
}

#bookclub {
  width: 100%;
}

#hangman {
  width: 50%;
}

#friendfinder {
  width: 50%;
}

#triviagame {
  width:100%
}

#oldPort {
  width: 100%;
  height: 267px;
}

#proj1 {
  width: 100%;
  height: 250px;
}